* {
    margin: 0px;
    padding: 0px;
}
.announcement__text {
    background-color:rgb(237, 120, 120); 
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: block;
    padding: 7px 20px 6px;
    transition: opacity .75s ease;
    text-align: center;
}
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Karla" sans-serif; */

}
/* navbar */
.navbar {
    /* position: fixed; */
    background-color:white;
    width: 100%;
    height: 70px;
    align-items: center;
    list-style: none;
    color: rgb(237, 120, 120);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}
@media screen and (max-width: 650px) {
    .zone {
      width: 100%;
      display: block;
    }
  }
  @media screen and (max-width: 650px) {
    .plat4{
      width: 100%;
      display: block;
    }
  }
  .navbar-center {
    width: 100%;
}
.navbar ul {
    display: flex;

    justify-content: space-around;
    list-style: none;
}
.navbar-mobile {
    display: none;
    cursor: pointer
    
    
}

.fa {
    font-size: 30px !important;
}

.navbar-mobile-container {
    background-color: rgb(250, 251, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

@media (max-width:800px) {
    .navbar-mobile {
        background-color:rgb(237, 120, 120);;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        display: block;
    }

    .navbar {
        display: none;
    }
}

.nav-logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 80px;
    height: 70px;
    padding: 5px;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}



a:hover {
    color: white;
}



.burger-list {
    display: none;
    background-color:rgb(237, 120, 120);;
    border-top: #ffffff;
    position: absolute;
    height: 100px;
    width: 100%;
    right: 0;
    z-index: 100;
}



.burger-list ul {
    line-height: 10px;
    list-style: none;
    position: absolute;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    color: #100f0f;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




a {
    all: unset;
    cursor: pointer;


    
    


}



.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}
.foter {
    display: flex;
    justify-content: space-between;
     background-color:rgb(237, 120, 120);
    background-size: cover;
    /* margin-top: 400px; */
    /* Redimensionner l'image de manière à la couvrir  */
      width: 100%;
      height: 40vh;
      
    
    


}

.logo {
    color: black;
    /* font-weight: ; */

    margin-bottom: 100%;
}

.foter ul {
     padding: 10%;
    list-style: none; 
    /* vous supprimez complètement les marqueurs par défaut */

}

.foter li {
    padding-bottom: 10%;
}



.Quiq {
    font-size: 20%;
    font-weight: 50%;
}

.Mylog {

    text-align: center;
    background-color: rgb(103, 110, 103);
    /* margin-top: -100PX; */
    height: 70%;
    width: 100%;
}
body{
    /* background: url(image/R\ \(1\).jpg) no-reapet;
    background-size: cover; */
    
    
}

#contactForm{
   
    /* background-image: url(image/vetement.jpg); */
    text-align: center;
    white-space:100%;
    background: url(image/beautiful-young-muslim-woman-happy-holding-shopping-bag_8595-28618.jpg) no-repeat;
    background-size: cover;
    
}
#contactForm h2{
    font-size: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contactForm{
    font-size: 100%;
}
textarea#message{
    width: 60%;
    height: 100%;
    padding-bottom: 10%;
    

}
input#name{
    height: 10%;
    font-size: 100%;
    width: 30%;
    margin-right: 10%;
}
input#email{
    height: 10%;
    font-size: 100%;
    width: 30%;
    margin-right: 10%;
}
#Envoyer{
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    font-size: 100%;
    width: 30%;
    margin-bottom: 10%;
    border-radius: 10%;
    

}
/* #contactForm.name.email.message{
    font-size: 100%;

} */
#contactForm {
font-size: xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}