
.burger-list {
  display: none;
  background-color:;
  border-top: #0a0909;
  position: absolute;
  height: 100px;
  width: 100%;
  right: 0;
  z-index: 100;
}

.foter{
  padding: 48px !important;
  width: 100% !important;
}


.burger-list ul {
  line-height: 10px;
  list-style: none;
  position: absolute;
  text-align: center;
  border-radius: 7px;
  padding: 10px;
  color: #131313;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement__text {
    background-color:rgb(237, 120, 120); 
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: block;
    padding: 7px 20px 6px;
    transition: opacity .75s ease;
    text-align: center;
}
.left {
    float: left;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px  ;
    position: relative; /* Pour positionner la ligne de soulignement */
    color: #000;
    font-size:x-large;  
}
.left:hover::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Hauteur de la ligne de soulignement */
    background-color: #000; /* Couleur de la ligne de soulignement */
}
* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}

.navbar {
 
  background-color:white;
  width: 100%;
  height: 70px;
  align-items: center;
  list-style: none;

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

}
@media screen and (max-width: 650px) {
  .zone {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .plat4{
    width: 100%;
    display: block;
  }
}
.navbar-center {
  width: 100%;
}
.navbar ul {
  display: flex;

  justify-content: space-around;
  list-style: none;
}
.navbar-mobile {
  display: none;
  cursor: pointer
}

.fa {
  font-size: 30px !important;
}

.navbar-mobile-container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

@media (max-width:900px) {
  *{
    margin: 0px !important;
    padding: 0px !important;
   
   
}
body,html{
  width: 100% !important;
}
.foter{
  flex-direction: column;
  justify-content: space-between;
}
  .accordion{
    flex-direction:column;
  }
  #accordion-img{
    width:80% !important;
  margin-left: 9% !important;
    display: flex;
    justify-content: center;
  }
  .content-accordion{
    padding: 9% !important;
  }
  
}
@media (max-width:800px) {
  .navbar-mobile {
      background-color:rgb(255, 252, 252);
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      display: block;
  }

  .navbar {
      display: none;
  }
}

.nav-logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 80px;
  height: 70px;
  padding: 5px;
}
.logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}






.burger-list {
  display: none;
   background-color:rgb(237, 120, 120);
  border-top: #9b9999;
  position: absolute;
  height: 100px;
  width: 100%;
  right: 0;
  z-index: 100;
}



.burger-list ul {
  list-style: none;
  position: absolute;
  text-align: center;
  border-radius: 7px;
  padding: 10px;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




a {
  all: unset;
  cursor: pointer;
  color: rgb(4, 4, 4);;
}
    .foter a{
    
        all: unset;
        cursor: pointer;
        color: rgb(8, 8, 8);;
  
    }


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}
.foter {
    display: flex;
    justify-content: space-between;
     background-color:rgb(237, 120, 120);
    background-size: cover;
   
      width: 100%;
      height: 40vh;
    
    


}

.logo {
    color: black;
   
    margin-bottom: 100%;
}

.foter ul {
     padding: 10%;
    list-style: none; 
  

}

.foter li {
    padding-bottom: 10%;
}



.Quiq {
    font-size: 20%;
    font-weight: 50%;
}

.Mylog {

    text-align: center;
    background-color: rgb(103, 110, 103);
    
    height: 70%;
    width: 100%;
}


  .accordion-imge{
    margin-bottom: 100%;

   
  } 

  .accordion {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 50%;


  }
  #accordion-img{
    width: 40vw;
    height: 90vh;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .title {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    
  }
  
  .content-accordion {
  padding:9%;

  }
  
  .question-answer {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
  }
  
  .accordion-img {
    position: relative;
    
  }
  
  .title-question {
    margin: 1.4rem 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  
  .up-icon {
    display: none;
  }
  
  .answer {
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
  }
  
  .show-text .answer {
    display: block;
  }
  
  .show-text .up-icon {
    display: inline;
  }
  
  .show-text .down-icon {
      display: none; 
  }
  
  @media screen and (min-width: 992px) {
    .accordion {
      width: 920px;
      height: 0;
      display: flex;
    }
  
  
  
    .question-answer {
      width: 380px;
    }
  

    .title {
      margin-top: 50px;
      font-size: 3rem;
    }
  }