* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Karla" sans-serif; */

}
/* navbar */
.navbar {
    /* position: fixed; */
    background-color: transparent;
    width: 100%;
    height: 70px;
    align-items: center;
    list-style: none;
    color: #df246e;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}
@media screen and (max-width: 650px) {
    .zone {
      width: 100%;
      display: block;
    }
  }
  @media screen and (max-width: 650px) {
    .plat4{
      width: 100%;
      display: block;
    }
  }
  .navbar-center {
    width: 100%;
}
.navbar ul {
    display: flex;

    justify-content: space-around;
    list-style: none;
}
.navbar-mobile {
    display: none;
    cursor: pointer
}

.fa {
    font-size: 30px !important;
}

.navbar-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

@media (max-width:800px) {
    .navbar-mobile {
        background-color:transparent;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        display: block;
    }

    .navbar {
        display: none;
    }
}

.nav-logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 80px;
    height: 70px;
    padding: 5px;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}



a:hover {
    color: white;
}






a {
    all: unset;
    cursor: pointer;

}
.burger-list {
    display: none;
    background-color: #2f2f2f;
    border-top: #ffffff;
    position: absolute;
    height: 100px;
    width: 100%;
    right: 0;
    z-index: 100;
}



.burger-list ul {
    list-style: none;
    position: absolute;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body{
    margin: 0;
    padding: 0;
}
.announcement__text {
    background-color:rgb(237, 120, 120); 
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: block;
    padding: 7px 20px 6px;
    transition: opacity .75s ease;
    text-align: center;
}
.left {
    float: left;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px  ;
    position: relative; /* Pour positionner la ligne de soulignement */
    color: #000;
    font-size:x-large;  
}
.left:hover::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Hauteur de la ligne de soulignement */
    background-color: #000; /* Couleur de la ligne de soulignement */
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}
.foter {
    display: flex;
    justify-content: space-between;
     background-color:rgb(237, 120, 120);
    background-size: cover;
    /* margin-top: 400px; */
    /* Redimensionner l'image de manière à la couvrir  */
      width: 100%;
      height: 40vh;
    
    


}

.logo {
    color: black;
    /* font-weight: ; */

    margin-bottom: 100%;
}

.foter ul {
     padding: 10%;
    list-style: none; 
    /* vous supprimez complètement les marqueurs par défaut */

}

.foter li {
    padding-bottom: 10%;
}



.Quiq {
    font-size: 20%;
    font-weight: 50%;
}

.Mylog {

    text-align: center;
    background-color: rgb(103, 110, 103);
    /* margin-top: -100PX; */
    height: 70%;
    width: 100%;
}

.Soldes p{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;

}
 
 
  .container {
    display: flex;
    justify-content: space-between;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     grid-template-rows:repeat(3, 1fr); 
   gap: 10px;
}

.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.item {
    position: relative;
    cursor: pointer;
    margin-bottom: 15%;
}

.item p {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 5%;
    transition: all 0.3s ease;
    margin-bottom: 10%;
    text-align: center;
    font-size: large;
}

.item:hover p {
    display: block;
}
.item img{
    width: 80%;
    height: 100%;
    margin-top: 5%;
    margin-left: 12%;
}
.Prix-régulier {
    color: #030303; /* Change la couleur en blak (facultatif) */
    text-decoration: line-through; /* Rature le texte "Prix régulier" */
}
.Prix-réduit {
    font-size: larger;
     font-weight: bold;
}
.burger {
    width: 40px;
    margin-top: 10px;
    display: none; 

}

.burger i {
    font-size: 25px;
    cursor: pointer;
}

.nav_links {
    display: none; 

}

 @media (max-width: 600px) {
    .burger {
        display: block;
    }
    .navbarT {
        display: none;
         
    }
    .nav_links {
        display: flex;
        flex-direction: column;
        background: #e87c7c;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 60px; /* Ajustez la valeur en fonction de votre mise en page */
        z-index: 999;
        transition: max-height 0.3s ease;
        display: block;
    }

    .nav_links.active {
        max-height: 1000px;
    }
} 

